<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
         <!-- Widget 1 -->
         <div class="widget">
            <h4>Twitter</h4>
            <!-- Too add twitter widget, goto "js" folder and open "custom.js" file and search for the word "ashokramesh90". This is my twitter username. Just replace the word with your twitter username. You are done. -->
            <div class="tweet"></div>
         </div>
      </div>
      <div class="span4">
         <!-- widget 2 -->
         <div class="widget">
            <h4>Recent Posts</h4>
               <ul>
                  <li><a href="#">Sed eu leo orci, in rhoncus puru condimentum gravida metus</a></li>
                  <li><a href="#">Etiam at in rhoncus puru nulla ipsum, in rhoncus purus</a></li>
                  <li><a href="#">Fusce vel magnain rhoncus puru faucibus felis dapibus facilisis</a></li>
               </ul>
         </div>
      </div>
      <div class="span4">
         <!-- Widget 3 -->
         <div class="widget">
            <h4>Categories</h4>
            <ul>
               <li><a href="#">Condimentum</a></li>
               <li><a href="#">Etiam at</a></li>
               <li><a href="#">Fusce vel</a></li>
               <li><a href="#">Vivamus</a></li>
               <li><a href="#">Pellentesque</a></li>
            </ul>
         </div>
      </div>
      
      <div class="span12"><hr /><p class="copy">
      <!-- Copyright information. You can remove my site link. -->
               Copyright &copy; <a href="#">e-Chef</a></p></div>
    </div>
  </div>
</footer>