<div class="row">
     <div class="span12">
     
        <!-- Slider (Flex Slider -->
        
        <div class="flexslider">
          <ul class="slides">
              <!-- Each slide should be enclosed inside li tag. -->
              
              <!-- Slide #1 -->
            <li>
              <!-- Image -->
              <img src="assets/photos/1.jpg" />
              <!-- Caption -->
              <div class="flex-caption">
                 <!-- Title -->
                 <h3><span>e-Chef Title #1</span></h3>
                 <!-- Para -->
                 <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
              </div>
            </li>
            
              <!-- Slide #2 -->
            <li>
              <img src="assets/photos/2.jpg" />
              <div class="flex-caption">
                 <h3><span>e-Chef Title #2</span></h3>
                 <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
              </div>                  
            </li>
            
            <li>
              <img src="assets/photos/3.jpg" />
              <div class="flex-caption">
                 <h3><span>e-Chef Title #3</span></h3>
                 <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
              </div>                  
            </li>
            
            <li>
              <img src="assets/photos/4.jpg" />
              <div class="flex-caption">
                 <h3><span>e-Chef Title #3</span></h3>
                 <p>Ut commodo ullamcorper risus nec mattis. Fusce imperdiet ornare dignissim. Donec aliquet convallis tortor, et placerat quam posuere posuere. Morbi tincidunt posuere turpis eu laoreet. </p>
              </div>                  
            </li>
          </ul>
        </div>
        
        <!-- Slider ends -->
        
        <!-- Service starts -->
        
        <div class="services">
              <div class="row">
                 <div class="span4">
                 
                    <!-- Service #1 -->
                    <div class="service">
                       <!-- Icon & title. Font Awesome icon used. -->
                       <h5><span><i class="icon-gift"></i> Web Designing</span></h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. </p>
                    </div>
                    
                 </div>
                 <div class="span4">
                 
                    <!-- Service #2 -->
                    <div class="service">
                       <!-- Icon & title. Font Awesome icon used. -->
                       <h5><span><i class="icon-cloud"></i> Web Development</span></h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. </p>
                    </div>                     
                    
                 </div>
                 <div class="span4">
                 
                    <!-- Service #3 -->
                    <div class="service">
                       <!-- Icon & title. Font Awesome icon used. -->
                       <h5><span><i class="icon-home"></i> WordPress Customization</span></h5>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis. </p>
                    </div>  
                    
                 </div>
              </div>
        </div>
        
        <!-- Serivce ends -->

        <!-- CTA starts -->
        
        <div class="cta">
           <div class="row">
              <div class="span9">
                 <!-- First line -->
                 <p class="cbig">Lorem ipsum consectetur dolor sit amet, consectetur adipiscing.</p>
                 <!-- Second line -->
                 <p class="csmall">Duis vulputate consectetur malesuada eros nec odio consect eturegestas et netus et in dictum nisi vehicula.</p>
              </div>
              <div class="span2">
                 <!-- Button -->
                 <div class="button"><a href="#">Get A Free Trail</a></div>
              </div>
           </div>
        </div>
        
        <!-- CTA Ends -->
        
        <!-- Recent post starts. Note down the class name before editing. -->
        
        <div class="rposts">
           <h4>Recent Posts</h4>
           <div class="row">
              <div class="span6">
              
                 <!-- Recent post 1. Class name should be "rpost1" -->
                 <div class="rpost1">
                    <!-- Image -->
                    <div class="rimg">
                       <img src="assets/photos/r1.jpg" alt="" />
                    </div>
                    <!-- Title & Para -->
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
                    </div>
                 </div>
                 
                 
                 <!-- Recent post 2. Class name should be "rpost2" -->
                 <div class="rpost2">
                    <div class="rimg">
                       <img src="assets/photos/r2.jpg" alt="" />
                    </div>
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
                    </div>                     
                 </div>   

                 
              </div>
              <div class="span6">
              
              
                 <!-- Recent post 3. Class name should be "rpost1" -->
                 <div class="rpost1">
                    <div class="rimg">
                       <img src="assets/photos/r3.jpg" alt="" />
                    </div>
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
                    </div>
                 </div>
                 
                 
                 <!-- Recent post 4. Class name should be "rpost2" -->
                 <div class="rpost2">
                    <div class="rimg">
                       <img src="assets/photos/r4.jpg" alt="" />
                    </div>
                    <div class="rdetails">
                       <h5>Lorem ipsum</h5>
                       <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
                    </div>                     
                 </div>  

                 
              </div>
           </div>
        </div>
        
        <!-- Recent post ends -->            
        
        
        <!-- Clients starts -->
           
        <div class="row">
           <div class="span12">
              <div class="clients">
                 <a href="#"><img src="assets/clients/twitter_b.png" alt="" /></a>
                 <a href="#"><img src="assets/clients/facebook_b.png" alt="" /></a>
                 <a href="#"><img src="assets/clients/youtube_b.png" alt="" /></a>
              </div>
           </div>
        </div>
        
        <!-- Clients ends -->
        
     </div>
  </div>